.espacador {
    flex: 1 1 auto;
  }
.nome-usuario {
    font-size: small;
    padding: 5px;
}
a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}
.toolbar {
    margin-bottom: 60px;
}